*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.container {
    width: 80vh;
    background-color: #fff;
    max-width: 400px;
    padding: 20px 15px;
    position: absolute;
    transform: translateY(-50% -50%);
    left: 35%;
    top: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(131, 63, 63);
}
.search-wraper {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.search-wraper button {
    font-size: 15px;
    background-color: saddlebrown;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}
.search-wraper button:hover {
    background-color: rgb(107, 97, 13);
    transition: all .5s ease;
    box-shadow: 0px 0px 5px red;
}
.search-wraper input {
    font-size: 17px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid saddlebrown;
    outline: none;
    color: saddlebrown;
}
#result img {
    width: 300px;
    padding:  30px;
    margin-left: 30px;
}
h2 {
    text-align: center;
    color: red;
}
h4 {
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    color: red;
}
span{
    color: #7e6d6d;
    font-weight: lighter;
}